<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:alert].present? %>
      <p class="alert_message">
        <%= flash[:alert] %>
      </p>
   <% end %>
   
   <% if flash[:notice].present? %>
     <p class="notice_message">
       <%= flash[:notice] %>
     </p>
   <% end %>
   
   <h2>Admin Name : <%= display_name %></h2>
   
   <ul>
       <li><%= link_to "Category", categories_path %></li>
       <li><%= link_to "Menu Item", menu_items_path %></li>
       <li><%= link_to "Order", orders_path %></li>
       <li><%= link_to "Customer", customers_path %></li>
       <li><%= link_to "Admin", admins_path %></li>
       <li>
           <% if session[:admin_id].present? %>
             <%= link_to "Logout", "/admin/logout", data: { method: :delete } %>
           <% end %>
     </li>
   </ul>
   
   <p>
     
   </p>
   
    <%= yield %>
  </body>
</html>
